{% extends "base.html" %}

{% block content %}

<div class="new_post">
    <h1>Authorization</h1>
    <div class="post-form">
        {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
           {{ form.as_p }}
            <input type="submit" value="Login" style="width:300px"/>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>
</div>
{% endblock %}